
<input id="single-pig-stats-chart" type="text" style="display: none;" value="{{user.id}}">
<div class="mini-chart" style="display: none;">
<canvas id="pigs-amount-chart" height="200"></canvas>
</div>
<div class="mini-chart-2" style="display: none;">
<canvas id="pigs-amount-due-chart" height="200"></canvas>
</div>



