
  <div id="recentTransactions" class="card">
    <div id="recentTransactionsHeader" class="card-header">
      Recent Transactions 
    </div>
    <div id="recentTransactionsBody" class="card-body">
      <ul id="transactionsList">
        {{#with user.transactions as |transactions|}}
        {{#each transactions as | transaction |}}
        <li id="transactionsListEl">$ {{transaction.transaction_amt}} - {{transaction.merchant}} - {{format_date transaction.createdAt}}</li>
        {{/each}}
        {{/with}}
      </ul>
    </div>
  </div>


