
  <div id="welcome"><h2>Welcome, {{user.first_name}}!</h2></div>
    <div id="playMoney" class="" style="max-width: 18rem;">
      <div id="playMoneyHeader" class=""><em>Safe to Spend</em></div>
        <div id="playMoneyAmount" class="card-body">
          <h5 id="dollar-sign"class="card-title">
            $
          </h5>
          <p class="card-text" id="safe-to-spend-num">
            {{safeToSpend}}
          </p>
        </div>
    </div>

  <section class="accounts" style="max-width: 18rem;">
    <div id="savings">
      <div id="savingsHeader" class="card-body">
        <h6 id="savingsTitle" class="card-title">
          <a id="savingsLink" href="/dashboard/savings">
          Savings
          </a>
        </h6>
      </div>
    <div id="savingsFooterTotal" class="card-footer savingsFooter">
      <p>
      $
      </p>
      <p id="user-savings">
      {{user.money.savings}}
      </p>
    </div>
      <div id="savingsViewPigsFooter"class="card-footer savingsFooter">
        <a href="/dashboard/savings">
        View Pigs
        </a>
      </div>
    </div>

    <div class="dropdown-divider"></div>

    <div id="checkings" style="max-width: 18rem;">
      <div id="checkingsHeader" class="card-body">
        <h6 id="checkingsTitle" class="card-title">
          <a id="checkingsLink" href="/dashboard/checking">
          Checkings
          </a>
        </h6>
      </div>
      <div id="checkingsFooterTotal" class="card-footer checkingsFooter">
        <p id="checkingsLink">
          $
        </p>
        <p id="user-checking">
        {{user.money.checking}}
        </p>
      </div>
      <div id="checkingsViewPigsFooter"class="card-footer checkingsFooter">
        <a href="/dashboard/checking">
        View Pigs
        </a>
      </div>
    </div>
  </section>

