<header>
  <nav class="nav">
    <a class="navbar-brand" href="#">
      <img src="/Pig Logo White.png" width="50" alt="pigE logo">
      </a>
  </nav>
  <a id="signup" href="/signup">Sign Up</a>
</header>

<div>
  {{!-- this is where the login form goes! we will probably make a partial to insert into here --}}
  <h1>FORM GOES HERE</h1>
</div>

<script src="/js/login.js"></script>