<header>
  <nav class="nav">
    <a class="navbar-brand" href="#">
      <img src="https://github.com/Stiltskinner/Pig-E-Bank/blob/main/images/Pig%20Logo%20White.png?raw=true" width="50" alt="pigE logo">
      </a>
  </nav>
  <a id="signup" href="/signup">Sign Up</a>
</header>

<div id="body">
  {{!-- this is where the login form goes! we will probably make a partial to insert into here --}}
  <div class="container">
      <div class="infobox">
        <img src="https://github.com/Stiltskinner/Pig-E-Bank/blob/main/images/Pig%20Logo%20White.png?raw=true" alt="Italian Trulli" />
        <h1>Welcome to Pig-E</h1>
        <h1>Log In</h1>
        <form>
          <div class="mb-3">
            <label for="emailInput" class="form-label"
              >Enter Email:</label
            >
            <input
              type="password"
              class="form-control"
              id="emailInput"
            />
          </div>
          <div class="mb-3">
            <label for="passwordInput" class="form-label"
              >Enter Password:</label
            >
            <input
              type="password"
              class="form-control"
              id="passwordInput"
            />
          </div>
          <p>Don't have an account? Create one <a href="/signup">here!</a></p>
          <button type="login" class="btn btn-primary" id="login_button">
            Log In
          </button>
        </form>
      </div>
    </div>
</div>

<script src="/js/login.js"></script>