<header>
  <nav class="nav">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/Stiltskinner/Pig-E-Bank/main/images/Pig%20Logo%20White.png" width="50" alt="pigE logo">
    </a>
  </nav>
  <a id="login" href="/login">Log In</a>
</header>

<body>
  {{!-- this is where the sign up form goes! we will probably make a partial to insert into here --}}
  <div class="container">
      <div class="infobox">
        <img src="https://github.com/Stiltskinner/Pig-E-Bank/blob/main/images/Pig%20Logo%20White.png?raw=true" alt="Italian Trulli" />
        <h1>Welcome to Pig-E</h1>
        <h1>Sign Up:</h1>
        <form>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >First Name:</label
            >
            <input
              type="password"
              class="form-control"
              id="firstNameInput"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Last Name:</label
            >
            <input
              type="password"
              class="form-control"
              id="lastNameInput"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Enter Email:</label
            >
            <input
              type="email"
              class="form-control"
              id="emailInput"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Verify Email:</label
            >
            <input
              type="password"
              class="form-control"
              id="verifyEmailInput"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Create Password:</label
            >
            <input
              type="password"
              class="form-control"
              id="passwordInput"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Verify Password:</label
            >
            <input
              type="password"
              class="form-control"
              id="verifyPasswordInput"
            />
          </div>
          <button type="submit" class="btn btn-primary" id="submit_button">
            Submit
          </button>
        </form>
      </div>
  </div>
</body>

<script src="/js/signup.js"></script>