<header>
  <nav class="nav">
    <a class="navbar-brand" href="#">
      <img id="logo" src="https://raw.githubusercontent.com/Stiltskinner/Pig-E-Bank/main/images/Pig%20Logo%20White.png" width="50" alt="pigE logo">
    </a>
  </nav>
  <a id="login" href="/login">Log In</a>
</header>

<body>
  {{!-- this is where the sign up form goes! we will probably make a partial to insert into here --}}
  <div class="container">
      <div class="infobox" id="signup-box1">
        <img src="https://github.com/Stiltskinner/Pig-E-Bank/blob/main/images/Pig%20Logo%20White.png?raw=true" alt="Italian Trulli" />
        <h1>Sign Up:</h1>
        <form id="signup-form">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >First Name:</label
            >
            <input
              type="text"
              class="form-control"
              id="firstNameInput"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Last Name:</label
            >
            <input
              type="text"
              class="form-control"
              id="lastNameInput"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Enter Email:</label
            >
            <input
              type="email"
              class="form-control"
              id="emailInput"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Verify Email:</label
            >
            <input
              type="email"
              class="form-control"
              id="verifyEmailInput"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Create Password:</label
            >
            <input
              type="password"
              class="form-control"
              id="passwordInput"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Verify Password:</label
            >
            <input
              type="password"
              class="form-control"
              id="verifyPasswordInput"
            />
          </div>
          <button type="submit" class="btn btn-primary" id="submit_button">
            Submit
          </button>
        </form>
      </div>
      <div class="infobox" id="signup-box2">
        <h1 id="welcome-msg">Welcome to Pig-E</h1>
        <p style="font-weight:bolder;">Pig-E is the latest and greatest in budgeting technology.</p>
        <p style="font-weight:bold;">"Savings go BRRR" - Warren Buffett</p>
        <p style="font-weight:bold;">"Pig-E is by far my favorite pig-themed budgeting app" - Jeff Bezos</p>
        <p>Budgeting isn’t the most fun, and many people have a hard time doing the math and being consistent. We wanted a budgeting app that feels good to use, looks slick, and does a lot for you automatically, so we created this application.</p>
        <img id="welcome-img" src="https://github.com/Stiltskinner/Pig-E-Bank/blob/main/images/Pig%20Logo%20White.png?raw=true" alt="Italian Trulli" />
        <p>A "Pig" is a container for your money and can be customized to pay bills, to save towards a goal, or just to track your expenses.</p>
        <p>Pig-E offers detailed charts to visualize your spending while the economy slips out from under you.</p>
      </div>
  </div>
</body>

<script src="/js/signup.js"></script>