<header>
  <nav class="nav">
    <a class="navbar-brand" href="#">
      <img src="" width="50" alt="pigE logo">
    </a>
  </nav>
    <a id="login" href="/login">Log In</a>
</header>

<div>
  {{!-- this is where the sign up form goes! we will probably make a partial to insert into here --}}
  <h1>FORM GOES HERE</h1>
</div>

<script src="/js/signup.js"></script>