:root {
    --pink: #FF87AB;
}

body {
    background-image: url("./img/pig\ background\ blur.png");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95.5vh;
    width: fit-content;
}

.infobox {
    background-color: var(--pink);
    color: white;
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    filter: drop-shadow(10px 10px 20px #00000050);
}

.infobox img {
    height: 150px;
}

form {
    width: 100%;
}

#submit_button {
    background-color: #FF5D8F;
    border-color: white;
}