:root {
    --main-bg-color: #fadde1;
    --main-feed-color: #c7c7c7;
    --main-nav-color: #FF5D8F;
    --color1: #FFCAD4;
    --color2: #FFC4D6;
    --color3: #F4ACB7;
    --color4: #FFACC5;
    --color5: #FFA6C1;
    --color6: #FF97B7;
    --color7: #FF87AB;
}
body {
    background-color: var(--main-bg-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-nav-color);
    height: 4rem;
    width: 100%;
}

#main-view {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav a img {
    margin-left: 2rem;
}

#login {
    text-decoration: none;
    color:black;
    margin-right: 2rem;
}
#signup {
    text-decoration: none;
    color:black;
    margin-right: 2rem;
}

#signOut {
    text-decoration: none;
    color: black;
    margin-right: 3rem;
}

#column-one {
}

#playMoney {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    margin-top:2rem;
}

#playMoneyHeader {
    text-align: center;
    margin-bottom: 1rem;
}

#playMoneyFooter {
    text-align: center;
    background-color: var(--main-feed-color);
    width:80%;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px white;
    border: solid white 2px;
}
#playMoneyFooter:active{
    box-shadow: 2px 2px var(--main-nav-color);
}
#playMoneyFooter a {
    text-decoration: none;
    color: black;
}

#playMoneyAmount {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF5D8F;
    border-radius: 25px;
    border: solid black 2px;
    box-shadow: 10px 10px;
}
#playMoneyAmount:hover {
    width: 93%;
    box-shadow: 8px 8px;
}

#dollar-sign {
    margin: 0;
}

.accounts {
    background-color: white;
    padding: 1rem;
    border-radius: 25px;
    border: black 2px solid;
    box-shadow: 10px 10px var(--main-nav-color);
    margin-top: 2rem;
}

#savings {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}
#savingsTitle {
    margin: 0;
}

#savingsFooterTotal {
    text-align: center;
    background-color: var(--main-feed-color);
    width:80%;
    border-radius: 0 0 10px 10px;
}
#savingsViewPigsFooter {
    text-align: center;
    background-color: var(--main-feed-color);
    width:60%;
    border-radius: 0 0 10px 10px;
}
.savingsFooter a {
    text-decoration: none;
    color: black;
}

#savingsAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5D8F;
    border-radius: 40px;
    width: 100%;
}

#savingsLink {
    text-decoration: none;
    color: black
}

#checkings {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}
#checkingsTitle {
    margin:0;
}
#checkingsFooterTotal {
    text-align: center;
    background-color: var(--main-feed-color);
    width:80%;
    border-radius: 0 0 10px 10px;
}
#checkingsViewPigsFooter {
    text-align: center;
    background-color: var(--main-feed-color);
    width:60%;
    border-radius: 0 0 10px 10px;
}
.checkingsFooter a {
    text-decoration: none;
    color: black;
}

#checkingsAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-nav-color);
    border-radius: 40px;
    width: 100%;
}

#checkingsLink {
    text-decoration: none;
    color: black
}

footer {
    text-align: center;
    
}

#body {
    background-image: url("https://github.com/Stiltskinner/Pig-E-Bank/blob/main/images/pig%20background%20blur.png?raw=true");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95.5vh;
    width: fit-content;
}

.infobox {
    background-color: var(--color7);
    color: white;
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    filter: drop-shadow(10px 10px 20px #00000050);
}

.infobox img {
    height: 150px;
}

form {
    width: 100%;
}

#submit_button {
    background-color: var(--main-nav-color);
    border-color: white;
}

#login_button {
    background-color: var(--main-nav-color);
    border-color: white;
}