:root {
    --main-bg-color: #fadde1;
    --main-feed-color: #c7c7c7;
    --main-nav-color: #FF5D8F;
    --color1: #FFCAD4;
    --color2: #FFC4D6;
    --color3: #F4ACB7;
    --color4: #FFACC5;
    --color5: #FFA6C1;
    --color6: #FF97B7;
    --color7: #FF87AB;
}

body {
    background-image: url("https://github.com/Stiltskinner/Pig-E-Bank/blob/main/images/pig%20background%20blur.png?raw=true");
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-nav-color);
    height: 4rem;
    width: 100%;
}

#logo {
    margin-left: 2rem;
}
form {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95.5vh;
    width: fit-content;
}

.infobox {
    background-color: #FF87AB;
    color: white;
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    filter: drop-shadow(10px 10px 20px #00000050);
}

.infobox img {
    height: 150px;
}

.hidden {
    display:none;
}

#menuHeader {
color: white;
background-color: var(--main-nav-color);
}

#main-view {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
}

#login {
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    border-color: white !important;
    margin: 0 2rem 0 0;
    cursor: pointer;
}
#signup {
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    border-color: white !important;
    margin: 0 2rem 0 0;
    cursor: pointer;
}

#hamburger {
    margin: 0 0 0 1rem;
}

#sign-out{
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    border-color: white !important;
    margin: 0 2rem 0 0;
    cursor: pointer;
}

.offcanvas-body .card {
    height: fit-content;
    margin-bottom: 20px;
}

#submit_button {
    background-color: var(--main-nav-color);
    border-color: white;
}

#submit_button label{
    color: white;
}

#submit_create_pig {
    background-color: var(--main-nav-color);
    border-color: white;
}

#login_button {
    background-color: var(--main-nav-color);
    border-color: white;
}

#offcanvasbutton {
    color: white;
    width: 100%;
}

#off-canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#column-one {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#column-two {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#column-three {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#playMoney {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    margin-top:2rem;
    width: 90%;
}

#playMoneyHeader {
    text-align: center;
    margin-bottom: 1rem;
}

#playMoneyAmount {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF5D8F;
    border-radius: 25px;
    border: solid black 2px;
    box-shadow: 10px 10px;

}
#playMoneyAmount:hover {
    width: 93%;
    box-shadow: 8px 8px;
}
#playMoneyFooter {
    text-align: center;
    background-color: var(--main-feed-color);
    width:80%;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px white;
    border: solid white 2px;
    box-shadow: 5px 5px 5px #ff5d9065;
}

#playMoneyFooter:hover{
    box-shadow: 2px 2px var(--main-nav-color);
}

#playMoneyFooter:active{
    width:79%;
}
#playMoneyFooter a {
    text-decoration: none;
    color: black;
}

#dollar-sign {
    margin: 0;
}

.accounts {
    background-color: white;
    padding: 1rem;
    border-radius: 25px;
    border: black 2px solid;
    box-shadow: 10px 10px var(--main-nav-color);
    margin-top: 2rem;
    width: 90%;
}

.accounts:hover {
    box-shadow: 8px 8px var(--main-nav-color);
}

#savings {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

#savingsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5D8F;
    border-radius: 40px;
    width: 100%;
    box-shadow: 8px 8px black;
}

#savingsHeader:hover {
    width: 98%;
    box-shadow: 5px 5px black;
}
#savingsTitle {
    margin: 0;
}

#savingsFooterTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width:80%;
    border-radius: 10px;
    margin-top: 1rem;
    border: 0;
}

#savingsViewPigsFooter {
    text-align: center;
    background-color: var(--main-feed-color);
    width:60%;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px white;
    border: solid white 2px;
    box-shadow: 5px 5px 5px #ff5d9065;
}
#savingsViewPigsFooter:active {
    width:59%;
}

#savingsViewPigsFooter:hover{
    box-shadow: 2px 2px var(--main-nav-color);
}
.savingsFooter a {
    text-decoration: none;
    color: black;
    
}

#savingsLink {
    text-decoration: none;
    color: black
}

#checkings {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}
#checkingsTitle {
    margin:0;
}
#checkingsFooterTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width:80%;
    border-radius: 10px;
    margin-top: 1rem;
    border: 0;
}
#checkingsViewPigsFooter {
    text-align: center;
    background-color: var(--main-feed-color);
    width:60%;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px white;
    border: solid white 2px;
    box-shadow: 5px 5px 5px #ff5d9065;
}

#checkingsViewPigsFooter:hover{
    box-shadow: 2px 2px var(--main-nav-color);
}

#checkingsViewPigsFooter:active{
    width:59%;
}

.checkingsFooter a {
    text-decoration: none;
    color: black;
}

#checkingsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5D8F;
    border-radius: 40px;
    width: 100%;
    box-shadow: 8px 8px black;
}

#checkingsHeader:hover {
    width: 98%;
    box-shadow: 5px 5px black;
}
#checkingsLink {
    text-decoration: none;
    color: black
}

#recentTransactions {
    margin-top: 2rem;
    box-shadow: 10px 10px var(--color7);
    border-radius: 30px;
    border: var(--main-nav-color) solid 2px;
    width: 100%;
    height: fit-content;

}

#recentTransactionsHeader{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bolder;
    background-color: #FF5D8F;
    border: none;
    border-radius: 25px 25px 0 0;
}
#recentTransactionsBody{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1rem;
    flex: 0 0 auto;
}
ul {
    margin-block-start: 0;
    margin-block-end: 0;
}
#transactionsList {
    padding: 0;
    margin: 0;
}
#transactionsListEl {
    text-decoration: none;
    list-style: none;
}

#pigs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem; 
    border-radius: 25px;
    width: 100%;
    
    background-color: #FF87AB;
    padding: 2rem;
    box-shadow: 10px 10px var(--color1);
    overflow-y: scroll;
}

#pig-item {
    border-radius: 10px;
    background-color: #FF87AB;
    border: 0;
}

#pig-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1rem;
    color: #212529;
    border: 0;
    background-color: white;
    box-shadow: 10px 10px var(--main-feed-color);
    border-radius: 10px;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

#pig-icon {
    position: absolute;
    right: 1rem;
}
#box-pig-btn {
    border: none;
    background-color: var(--main-bg-color);
    margin: 3px 0 0 0;
}

img, svg {
    vertical-align: 0;
}

#pig-name-dropdown {
    margin: 0; 
}
#pig-name-amount {
    margin:0;
}

#pig-edit {
    text-decoration: none;
    background-color: var(--main-bg-color);
    border: none;
    color: var(--main-nav-color);
    margin: 0;
}
#pig-settings {
     display: flex;
     align-items: center;
}
#pig-type {
    color: var(--color7);
    font-size: 1.5rem;
}

.pig-stats {
    text-decoration: none;
    color: var(--main-nav-color);
    border: none;
    background-color: var(--main-bg-color);
}

#pig-data-body {
    margin: 2rem 0 1rem 0;
    border-radius: 10px;
    border: black 2px solid;
    background-color: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem 1rem .75rem 1rem;
}
#pigs-list{
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 10px;
}

#pig-header:not(.collapsed) {
    color: var(--main-nav-color);
    background-color: #e7f1ff;
    box-shadow: 10px 10px var(--main-feed-color) ;
}

#pig-header::after {
    flex-shrink: 0;
    width: 2rem;
    margin-left: 0 ;
    content: "";
    background-image: url("https://github.com/Stiltskinner/Pig-E-Bank/blob/main/images/pig.png?raw=true");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .5s ease-in-out;
}

#pig-header:not(.collapsed)::after {
    background-image: url("https://github.com/Stiltskinner/Pig-E-Bank/blob/main/images/pig.png?raw=true");
    transform: rotate(-360deg);
}

footer {
    text-align: center; 
}

.mini-chart {
    background-color: var(--main-feed-color);
    padding: 1rem;
    border-radius: 10px;
    border: var(--color7) 2px solid;
    box-shadow: 10px 10px var(--color1);
    margin-left: 2rem;
    align-self: flex-start;
}
