:root {
    --main-bg-color: #fadde1;
    --main-feed-color: #c7c7c7;
    --main--color: #FFCAD4;
    --main--color: #FFC4D6;
    --main--color: #F4ACB7;
    --main--color: #FFACC5;
    --main--color: #FFA6C1;
    --main--color: #FF97B7;
    --main--color: #FF87AB;
    --main-nav-color: #FF5D8F;
}
body {
    background-color: var(--main-bg-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-nav-color);
    height: 4rem;
}

nav a img {
    margin-left: 2rem;
}

main {
    margin: 0 3rem;
}

#playMoney {
    border: none;
    margin-top:3rem;
}

#playMoneyHeader {
    text-align: center;
}
#playMoneyFooter {
    text-align: center;
    background-color: var(--main-feed-color);
}
#playMoneyFooter a {
    text-decoration: none;
    color: black;
}

#playMoneyAmount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF5D8F;
}

.accounts {
    background-color: white;
    padding: 1rem;
    border-radius: 25px;
}

#savings {

    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}

#savingsFooterTotal {
    text-align: center;
    background-color: var(--main-feed-color);
    width:80%;
    border-radius: 0 0 10px 10px;
}
#savingsViewPigsFooter {
    text-align: center;
    background-color: var(--main-feed-color);
    width:60%;
    border-radius: 0 0 10px 10px;
}
.savingsFooter a {
    text-decoration: none;
    color: black;
}

#savingsAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5D8F;
    border-radius: 10px;
    width: 100%;
}

#checkings {

    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}
#checkingsFooterTotal {
    text-align: center;
    background-color: var(--main-feed-color);
    width:80%;
    border-radius: 0 0 10px 10px;
}
#checkingsViewPigsFooter {
    text-align: center;
    background-color: var(--main-feed-color);
    width:60%;
    border-radius: 0 0 10px 10px;
}
.checkingsFooter a {
    text-decoration: none;
    color: black;
}

#checkingsAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5D8F;
    border-radius: 10px;
    width: 100%;
}

#signOut {
    text-decoration: none;
    color: black;
    margin-right: 3rem;
}
